<!DOCTYPE html>
<html lang="en" class="full">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>How's My SC River</title>

    <link href="../static/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap/css/blog.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">

    <style>

    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <img class="img-rounded center-block" src="../static/images/midlands_logo_round.jpg">
      </div>

      <div class="blog-header">
        <h1 class="blog-title">Midlands River Coalition News</h1>
        <p class="lead blog-description">Latest News from the Coalition</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Midlands Rivers Coalition kicks off water quality monitoring on Lower Saluda, Broad and Congaree Rivers</h2>
            <p class="blog-post-meta">May 3, 2018</p>
            <p>
              Columbia, SC – The Midlands Rivers Coalition, formerly known as the Lower Saluda River Coalition,
              this week began its second year of water quality monitoring of the major rivers in the Columbia area.
              This year, the monitoring has been expanded to include sampling locations on the Broad River in addition
              to existing sites on the Lower Saluda and Congaree Rivers.
              The testing will be done weekly and run from May through September.
              Weekly data will be posted each Thursday on <a href="http://howsmyscriver.org">howsmyscriver.org</a>.
            </p>
            <p>
              Created in 2016, the Midlands Rivers Coalition is made up of river related businesses, environmental organizations,
              academia, local and state government, recreation providers, property owners, industry and other users of the rivers.
              One of the main purposes of the coalition is to educate river users on water quality issues related to our rivers.            </p>
            <p>
              The Lower Saluda, Broad and Congaree Rivers are recreational destinations for public fishing, canoeing, kayaking,
              tubing, swimming and wading; and these activities involve contact with natural waters.
              As with most natural bodies of water, these rivers can be negatively impacted periodically
              by short-term events such as runoff from heavy rains, sewer overflows and other events.
              The program aims to enhance public awareness on these issues.
            </p>
            <p>
              The first objective is to make water quality information more frequently and readily
              available to river users so they can make informed decisions on when to recreate in the river.
              This is the first program of its type for inland waters in South Carolina.
            </p>
            <p>
              For more information on the program and the coalition visit <a href="http://howsmyscriver.org">howsmyscriver.org</a>.
            </p>
          </div><!-- /.blog-post -->
        </div>
      </div>
    </div>
  </body>

</html>

